.DS_Store
.config/
.lesshst
.pki/
.local/
.ssh/
.steam/
.steampath
.steampid
.viminfo

.Xauthority
.bash_history
.bash_logout
.cache/
.cloud-locale-test.skip
Desktop/
dontstarvetogether_dedicated_server/

build/
token.txt
