# This is a minimal list, OK to add things per repo
# mac specific
.DS_Store
.ansible
.azure/
.bash_history
# don't check storage creds into GH
.boto
.cache
.cloud-locale-test.skip
cluster_token.txt
*.code-workspace
#  may contain gcloud files
.config
.envrc
.gitconfig
.lesshst
.local
mbox
# .netrc contains secrets for service tokens
.netrc
*.plan
.selected_editor
.sentinel
server_log*
server_chat_log*
# .ssh dir may contain private keys
.ssh
.steam
.terrascan
# Terraform dot files
.terraform.lock.hcl
.terraformrc
**/.terraform/*
.terraform.d
*.tfstate
*.tfstate.*
.vim/
.viminfo
.vscode
.wget-hsts
.idea
.idea

.klei/DoNotStarveTogether/MyDediServer/*/save/
.klei/DoNotStarveTogether/MyDediServer/Caves/server_chat_log.txt
.klei/DoNotStarveTogether/MyDediServer/Caves/server_log.txt
.klei/DoNotStarveTogether/MyDediServer/Master/server_chat_log.txt
.klei/DoNotStarveTogether/MyDediServer/Master/server_log.txt
.klei/DoNotStarveTogether/MyDediServer/Caves/save
.klei/DoNotStarveTogether/MyDediServer/Master/save

# Palo auth codes
authcodes
# Crash log files
crash.log
credentials.json
# Palo specific
init-cfg.txt
temp
terraform.rc
tmp
# Auto variables
# terraform.tfvars
# terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

.pre-commit-config.yaml

**/files/
